<div class="user user-other">
   <div class="user__content">
      <div class="user__header">
         <img class="user__image" src="../img/avatar.png" alt="Константин">
         <div class="user__nameblock">
            <span class="user__name">Константин Константинопольский</span>
            <span class="user__login">@konstantinopolsky</span>
         </div>
      </div>
      <div class="user__state">
         <div class="user__state-line">
            <div class="user__state-item user__state-item_wide">
               <span class="user__state-number">10 523 500</span>
               <span class="user__state-text">Подписчиков</span>
            </div>
            <div class="user__state-item">
               <span class="user__state-online">Был(а) <span class="nowrap">6 минут назад</span></span>
            </div>
         </div>
         <div class="user__state-line">
            <div class="user__state-item user__state-item_wide">
               <span class="user__state-number">105k</span>
               <span class="user__state-text">публикаций</span>
            </div>
            <div class="user__state-item">
               <span class="user__state-number">105k</span>
               <span class="user__state-text">Рейтинг</span>
            </div>
            <div class="user__state-item">
               <span class="user__state-number">105k</span>
               <span class="user__state-text">подписки</span>
            </div>
         </div>
      </div>
      <div class="user__about">
         <span class="user__about-title">О себе</span>
         <span class="user__about-text">(200 символов)
            Принимая во внимание показатели успешности, дальнейшее развитие различных форм деятельности требует
            определения и
            уточнения стандартных подходов. С учётом сложившейся международной</span>
      </div>
      <span class="user__site user__site_other">Сайт: <a href="#" class="accent-color">Procentos.ru</a></span>
      <div class="user__buttons">
         <button class="button button_accent user__btn-wide">Подписаться</button>
         <button class="button user__btn-wide">Написать сообщение</button>

      </div>
   </div>
</div>