<div class="user">
   <div class="user__content">
      <div class="user__header">
         <div class="user__image">
            <svg class="icon user__icon-user">
               <use xlink:href="../svg/sprite.svg#user-circle"></use>
            </svg>
         </div>
         <div class="user__nameblock">
            <span class="user__name">Ксения</span>
            <span class="user__name">Сименизанова</span>
            <span class="user__login user__login_empty">@ Придумайте логин</span>
         </div>
      </div>
      <div class="user__state">
         <div class="user__state-line">
            <a href="./followers.html" class="user__state-item user__state-item_wide">
               <span class="user__state-number">0</span>
               <span class="user__state-text">Подписчиков</span>
            </a>
            <div class="user__state-item">
               <span class="user__state-online">Сейчас Online</span>
            </div>
         </div>
         <div class="user__state-line">
            <a href="./profile-1.html" class="user__state-item user__state-item_wide">
               <span class="user__state-number">0</span>
               <span class="user__state-text">Публикаций</span>
            </a>
            <div class="user__state-item">
               <span class="user__state-number">0</span>
               <span class="user__state-text">Рейтинг</span>
            </div>
            <a href="./subscribes.html" class="user__state-item">
               <span class="user__state-number">0</span>
               <span class="user__state-text">Подписки</span>
            </a>
         </div>
      </div>
      <div class="user__about">
         <span class="user__about-title">О себе</span>
         <span class="user__about-text">Напишите коротко о себе</span>
         <div class="user__about-edit">
            <svg class="icon user__icon-edit">
               <use xlink:href="../svg/sprite.svg#edit"></use>
            </svg>
         </div>
      </div>
      <span class="user__site">Сайт: <a href="#" class="font-regular">Добавить сайт</a></span>
      <div class="user__listblock">
         <ul class="user__list list">
            <li class="user__item list__item">
               <a href="#" class="list__item-link">Редактировать профиль</a>
            </li>
         </ul>
         <ul class="user__list list">
            <li class="user__item list__item">
               <a href="#" class="list__item-link">Написать запись</a>
            </li>
            <li class="user__item list__item">
               <a href="#" class="list__item-link">Черновики</a>
            </li>
            <li class="user__item list__item">
               <a href="#" class="list__item-link">Сообщения</a>
            </li>
            <li class="user__item list__item">
               <a href="#" class="list__item-link">Сохранения</a>
            </li>
            <li class="user__item list__item">
               <a href="#" class="list__item-link">Портфель</a>
            </li>
            <li class="user__item user__item_margin list__item">
               <a href="#" class="list__item-link">Настройки</a>
            </li>
            <li class="user__item list__item">
               <a href="#" class="list__item-link">Выход</a>
            </li>
         </ul>
      </div>
   </div>
</div>