<div class="menu">
   <div class="menu__searchblock">
      <svg class="icon menu__icon-search">
         <use xlink:href="../svg/sprite.svg#search"></use>
      </svg>
      <input type="text" class="menu__search search-input" placeholder="Поиск">
   </div>
   <div class="menu__listblock">
      <ul class="menu__list list">
         <li class="menu__list-item list__item">
            <a href="#" class="list__item-link">Мой профиль</a>
         </li>
         <li class="menu__list-item list__item">
            <a href="#" class="list__item-link">Сообщения
               <span>-</span>
               <span class="accent-color">99</span>
            </a>
         </li>
         <li class="menu__list-item list__item list__item_active">
            <a href="#" class="list__item-link">Подписки
               <span>-</span>
               <span class="accent-color">99</span>
            </a>
         </li>
         <li class="menu__list-item list__item">
            <a href="#" class="list__item-link">Лучшие</a>
         </li>
         <li class="menu__list-item list__item">
            <a href="#" class="list__item-link">Свежие
               <span>-</span>
               <span class="accent-color">99</span>
            </a>
         </li>
         <li class="menu__list-item list__item">
            <a href="#" class="list__item-link">Пользователи</a>
         </li>
      </ul>
      <ul class="menu__list list">
         <li class="menu__list-item list__item">
            <a href="#" class="list__item-link">Новости</a>
         </li>
         <li class="menu__list-item list__item">
            <a href="#" class="list__item-link">Компании</a>
         </li>
         <li class="menu__list-item list__item">
            <a href="#" class="list__item-link">Дивиденды</a>
         </li>
         <li class="menu__list-item list__item">
            <a href="#" class="list__item-link">Сравнение</a>
         </li>
         <li class="menu__list-item list__item">
            <a href="#" class="list__item-link">Рейтинги</a>
         </li>
      </ul>
      <ul class="menu__list list">
         <li class="menu__list-item list__item">
            <a href="#" class="list__item-link">Книги</a>
         </li>
         <li class="menu__list-item list__item">
            <a href="#" class="list__item-link">Обзоры книг</a>
         </li>
      </ul>
   </div>
</div>