<header class="header">
   <div class="wrapper">
      <div class="header-inner">
         <svg class="icon header__icon-burger">
            <use xlink:href="../svg/sprite.svg#menu"></use>
         </svg>
         <div class="header__left">
            <a href="#" class="header__logo logo">
               <svg class="icon header__icon-logo">
                  <use xlink:href="../svg/sprite-original.svg#logo"></use>
               </svg>
            </a>
         </div>
         <div class="header__center">
            <div class="header__searchblock searchblock">
               <svg class="icon header__icon-search icon-search">
                  <use xlink:href="../svg/sprite.svg#search"></use>
               </svg>
               <input type="text" class="search-input" placeholder="Поиск">
            </div>
            <div class="header__notification-block">
               <svg class="icon header__icon-bell">
                  <use xlink:href="../svg/sprite.svg#bell"></use>
               </svg>
               <div class="header__notification notification">
                  <h2 class="notification__title">Уведомления</h2>
                  <div class="notification__list">
                     <div class="notification__item">
                        <img src="../img/avatar.png" alt="avatar" class="notification__image">
                        <div class="notification__content">
                           <span class="notification__author">
                              <a href="#" class="accent-color">Артемий Друзь</a> оставил комментарий:
                           </span>
                           <a href="#" class="notification__text notification-underlined">
                              Отличная статья, спасибо вам за ваш труд. Продолжайте в том же духе
                           </a>
                           <span class="notification__date">
                              3 часа назад на Вашу запись: <a href="#" class="notification-underlined">Начало заголовка
                                 записи бла бла бла</a>
                           </span>
                        </div>
                     </div>
                     <div class="notification__item">
                        <img src="../img/avatar.png" alt="avatar" class="notification__image">
                        <div class="notification__content">
                           <span class="notification__author">
                              <a href="#" class="accent-color">Артемий Друзь</a> оставил комментарий:
                           </span>
                           <a href="#" class="notification__text notification-underlined">
                              Отличная статья, спасибо вам за ваш труд. Продолжайте в том же духе
                           </a>
                           <span class="notification__date">
                              3 часа назад на Вашу запись: <a href="#" class="notification-underlined">Начало заголовка
                                 записи бла бла бла</a>
                           </span>
                        </div>
                     </div>
                     <div class="notification__item">
                        <img src="../img/avatar.png" alt="avatar" class="notification__image">
                        <div class="notification__content">
                           <span class="notification__author">
                              <a href="#" class="accent-color">Артемий Друзь</a> оставил комментарий:
                           </span>
                           <a href="#" class="notification__text notification-underlined">
                              Отличная статья, спасибо вам за ваш труд. Продолжайте в том же духе
                           </a>
                           <span class="notification__date">
                              3 часа назад на Вашу запись: <a href="#" class="notification-underlined">Начало заголовка
                                 записи бла бла бла</a>
                           </span>
                        </div>
                     </div>
            
                     <div class="notification__item">
                        <img src="../img/avatar.png" alt="avatar" class="notification__image">
                        <div class="notification__content">
                           <span class="notification__author">
                              <a href="#" class="accent-color">Артемий Друзь</a> оставил комментарий:
                           </span>
                           <a href="#" class="notification__text notification-underlined">
                              Отличная статья, спасибо вам за ваш труд. Продолжайте в том же духе
                           </a>
                           <span class="notification__date">
                              3 часа назад на Вашу запись: <a href="#" class="notification-underlined">Начало заголовка
                                 записи бла бла бла</a>
                           </span>
                        </div>
                     </div>
                     <div class="notification__item">
                        <img src="../img/avatar.png" alt="avatar" class="notification__image">
                        <div class="notification__content">
                           <span class="notification__author">
                              <a href="#" class="accent-color">Артемий Друзь</a> оставил комментарий:
                           </span>
                           <a href="#" class="notification__text notification-underlined">
                              Отличная статья, спасибо вам за ваш труд. Продолжайте в том же духе
                           </a>
                           <span class="notification__date">
                              3 часа назад на Вашу запись: <a href="#" class="notification-underlined">Начало заголовка
                                 записи бла бла бла</a>
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="header__right">
            <button class="button header__write">
               Написать
            </button>
            <div class="header__profile header__profile_guest">
               <svg class="icon header__icon-user">
                  <use xlink:href="../svg/sprite.svg#user"></use>
               </svg>
            </div>
         </div>
      </div>
   </div>
</header>