<header class="header">
   <div class="wrapper">
      <div class="header-inner">
         <svg class="icon header__icon-burger">
            <use xlink:href="../svg/sprite.svg#menu"></use>
         </svg>
         <div class="header__left">
            <a href="#" class="header__logo logo">
               <svg class="icon header__icon-logo">
                  <use xlink:href="../svg/sprite-original.svg#logo"></use>
               </svg>
            </a>
         </div>
         <div class="header__center">
            <div class="header__searchblock searchblock">
               <svg class="icon header__icon-search icon-search">
                  <use xlink:href="../svg/sprite.svg#search"></use>
               </svg>
               <input type="text" class="search-input" placeholder="Поиск">
            </div>
            <svg class="icon header__icon-bell">
               <use xlink:href="../svg/sprite.svg#bell"></use>
            </svg>
         </div>
         <div class="header__right">
            <button class="button header__write">
               Написать
            </button>
            <div class="header__profile header__profile_logged">
               <img src="../img/avatar.png" alt="profile" class="userpic">
               <svg class="icon header__icon-angle">
                  <use xlink:href="../svg/sprite.svg#angle-down"></use>
               </svg>
            </div>
         </div>
      </div>
   </div>
</header>