<header class="header">
   <div class="wrapper">
      <div class="header-inner">
         <svg class="icon header__icon-burger">
            <use xlink:href="../svg/sprite.svg#menu"></use>
         </svg>
         <div class="header__left">
            <a href="#" class="header__logo logo">
               <svg class="icon header__icon-logo">
                  <use xlink:href="../svg/sprite-original.svg#logo"></use>
               </svg>
            </a>
         </div>
         <div class="header__center">
            <div class="header__searchblock searchblock">
               <svg class="icon header__icon-search icon-search">
                  <use xlink:href="../svg/sprite.svg#search"></use>
               </svg>
               <input type="text" class="search-input" placeholder="Поиск">
            </div>
            <div class="header__notification-block header__notification-block_logged">
               <svg class="icon header__icon-bell">
                  <use xlink:href="../svg/sprite.svg#bell"></use>
               </svg>
               <div class="header__notification notification">
                  <h2 class="notification__title">Уведомления</h2>
                  <div class="notification__list">
                     <div class="notification__item">
                        <a href="#" class="notification__image">
                           <img src="../img/avatar.png" alt="avatar">
                        </a>
                        <div class="notification__content">
                           <span class="notification__author">
                              <a href="#" class="accent-color">Артемий Друзь</a> оставил комментарий:
                           </span>
                           <a href="#" class="notification__text">
                              Отличная статья, спасибо вам за ваш труд. Продолжайте в том же духе
                           </a>
                           <span class="notification__date">
                              3 часа назад на Вашу запись: <a href="#" class="notification__text">Начало заголовка записи бла бла бла</a>
                           </span>
                        </div>
                     </div>
                     <div class="notification__item">
                        <a href="#" class="notification__image">
                           <img src="../img/avatar.png" alt="avatar">
                        </a>
                        <div class="notification__content">
                           <span class="notification__author">
                              <a href="#" class="accent-color">Артемий Друзь</a> оставил комментарий:
                           </span>
                           <a href="#" class="notification__text">
                              Отличная статья, спасибо вам за ваш труд. Продолжайте в том же духе
                           </a>
                           <span class="notification__date">
                              3 часа назад на Вашу запись: <a href="#" class="notification__text">Начало заголовка записи бла бла бла</a>
                           </span>
                        </div>
                     </div>
                     <div class="notification__item">
                        <a href="#" class="notification__image">
                           <img src="../img/avatar.png" alt="avatar">
                        </a>
                        <div class="notification__content">
                           <span class="notification__author">
                              <a href="#" class="accent-color">Артемий Друзь</a> оставил комментарий:
                           </span>
                           <a href="#" class="notification__text">
                              Отличная статья, спасибо вам за ваш труд. Продолжайте в том же духе
                           </a>
                           <span class="notification__date">
                              3 часа назад на Вашу запись: <a href="#" class="notification__text">Начало заголовка записи бла бла бла</a>
                           </span>
                        </div>
                     </div>
                     <div class="notification__item">
                        <a href="#" class="notification__image">
                           <img src="../img/avatar.png" alt="avatar">
                        </a>
                        <div class="notification__content">
                           <span class="notification__author">
                              <a href="#" class="accent-color">Артемий Друзь</a> оставил комментарий:
                           </span>
                           <a href="#" class="notification__text">
                              Отличная статья, спасибо вам за ваш труд. Продолжайте в том же духе
                           </a>
                           <span class="notification__date">
                              3 часа назад на Вашу запись: <a href="#" class="notification__text">Начало заголовка записи бла бла бла</a>
                           </span>
                        </div>
                     </div>
                     <div class="notification__item">
                        <a href="#" class="notification__image">
                           <img src="../img/avatar.png" alt="avatar">
                        </a>
                        <div class="notification__content">
                           <span class="notification__author">
                              <a href="#" class="accent-color">Артемий Друзь</a> оставил комментарий:
                           </span>
                           <a href="#" class="notification__text">
                              Отличная статья, спасибо вам за ваш труд. Продолжайте в том же духе
                           </a>
                           <span class="notification__date">
                              3 часа назад на Вашу запись: <a href="#" class="notification__text">Начало заголовка записи бла бла бла</a>
                           </span>
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>
         </div>
         <div class="header__right">
            <button class="button header__write">
               Написать
            </button>
            <div class="header__profile header__profile_logged">
               <img src="../img/avatar.png" alt="profile" class="userpic">
               <svg class="icon header__icon-angle">
                  <use xlink:href="../svg/sprite.svg#angle-down"></use>
               </svg>
               <div class="header__profile-dropdown profile-dropdown">
                  <ul class="profile-dropdown__list list">
                     <li class="profile-dropdown__item list__item">
                        <a href="#" class="list__item-link">
                           Мой профиль
                        </a>
                     </li>
                     <li class="profile-dropdown__item list__item">
                        <a href="#" class="list__item-link">
                           Портфель
                        </a>
                     </li>
                     <li class="profile-dropdown__item list__item">
                        <a href="#" class="list__item-link">
                           Сообщения <span class="accent-color">- 2</span>
                        </a> 
                     </li>
                     <li class="profile-dropdown__item list__item">
                        <a href="#" class="list__item-link">
                           Редактирование профиля
                        </a>
                     </li>
                     <li class="profile-dropdown__item list__item">
                        <a href="#" class="list__item-link">
                           Настройки
                        </a> 
                     </li>
                  </ul>
                  <ul class="profile-dropdown__list list">
                     <li class="profile-dropdown__item list__item">
                        <a href="#" class="list__item-link">
                           Выход
                        </a> </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>