<div class="best">
   <div class="best__topline">
      <span class="best__subtitle">Лучшие публикации</span>
      <a href="#" class="best__see-all small-text accent-color">Смотреть все</a>
   </div>

   <div class="best__list">
      <div class="best__item">
         <div class="best__header">
            <span class="best__subtitle accent-color">Константин Константинопольский</span>
            <span class="best__date small-text accent-color">26.09.2019</span>
         </div>
         <h2 class="best__title">
            Какую систему комментирования выбрать для своего сайта в 2019
            максимум 2 строки....
         </h2>
      </div>
      <div class="best__item">
         <div class="best__header">
            <span class="best__subtitle accent-color">Константин Константинопольский</span>
            <span class="best__date small-text accent-color">26.09.2019</span>
         </div>
         <h2 class="best__title">
            Какую систему комментирования выбрать для своего сайта в 2019
            максимум 2 строки....
         </h2>
      </div>
      <div class="best__item">
         <div class="best__header">
            <span class="best__subtitle accent-color">Константин Константинопольский</span>
            <span class="best__date small-text accent-color">26.09.2019</span>
         </div>
         <h2 class="best__title">
            Какую систему комментирования выбрать для своего сайта в 2019
            максимум 2 строки....
         </h2>
      </div>
      <div class="best__item">
         <div class="best__header">
            <span class="best__subtitle accent-color">Константин Константинопольский</span>
            <span class="best__date small-text accent-color">26.09.2019</span>
         </div>
         <h2 class="best__title">
            Какую систему комментирования выбрать для своего сайта в 2019
            максимум 2 строки....
         </h2>
      </div>
      <div class="best__item">
         <div class="best__header">
            <span class="best__subtitle accent-color">Константин Константинопольский</span>
            <span class="best__date small-text accent-color">26.09.2019</span>
         </div>
         <h2 class="best__title">
            Какую систему комментирования выбрать для своего сайта в 2019
            максимум 2 строки....
         </h2>
      </div>
      <div class="see-all">
         <a href="#" class="accent-color small-text">Смотреть все</a>
      </div>
   </div>

 
</div>