<div class="posts__category category">
   <span class="category__name">Лучшие</span>
   <svg class="icon category__icon-angle">
      <use xlink:href="../svg/sprite.svg#angle-down"></use>
   </svg>
   <div class="category__dropdown">
      <ul class="category__list list">
         <li class="category__item list__item">
            <a href="#" class="list__item-link">За день</a>
         </li>
         <li class="category__item list__item">
            <a href="#" class="list__item-link">За неделю</a>
         </li>
         <li class="category__item list__item">
            <a href="#" class="list__item-link">За месяц</a>
         </li>
         <li class="category__item list__item">
            <a href="#" class="list__item-link">За год</a>
         </li>
         <li class="category__item list__item">
            <a href="#" class="list__item-link">За всё время</a>
         </li>
      </ul>
      <ul class="category__list list">
         <li class="category__item list__item">
            <a href="#" class="list__item-link">Подписки</a>
         </li>
         <li class="category__item list__item">
            <a href="#" class="list__item-link">Свежие</a>
         </li>
      </ul>
   </div>
</div>