<div class="comments">
   <div class="comments__topline">
      <span class="comments__count">37 комментариев</span>
      <a href="#" class="comments__see-all small-text accent-color">Смотреть все</a>
   </div>

   <div class="comments__list">

      <!-- Комментарий с ответами -->
      <div class="comments__item commentbar">

         <!-- Главный коммент -->
         <div class="commentbar__main comment">
            <div class="comment__info">
               <img src="../img/avatar.png" alt="Дмитрий" class="userpic comment__image">
               <div class="comment__nameblock">
                  <span class="comment__name">Дмитрий Рыков</span>
                  <span class="comment__date small-text">Сегодня в 19:52</span>
               </div>
               <div class="comment__rating ratingblock">
                  <svg class="icon ratingblock__icon comment__icon-thumbs-up">
                     <use xlink:href="../svg/sprite.svg#thumbs-up"></use>
                  </svg>
                  <span class="ratingblock__text accent-color">105k</span>
                  <svg class="icon ratingblock__icon comment__icon-thumbs-down">
                     <use xlink:href="../svg/sprite.svg#thumbs-down"></use>
                  </svg>
               </div>
            </div>
            <div class="comment__body">
               <p class="comment__text">
                  На странице показывать не более 10 комментариев, остальные скрывать.
                  Дальше рыба, можешь не читать.
               </p>
               <p class="comment__text">
                  Основатель iSpring Юрий Усков рассказал, как создавал компанию и привлекал первых клиентов, о разнице
                  российского и зарубежного рынков, а также о том, почему ему комфортнее вести бизнес в регионе, а не в
                  столице.
               </p>
            </div>
            <div class="comment__replyblock">
               <span class="comment__reply">Ответить</span>
               <span class="comment__reply">2 Ответа</span>
            </div>
         </div>

         <!-- Список ответов на коммент -->
         <div class="commentbar__sublist">
            <div class="comment comment__sub">
               <div class="comment__info">
                  <img src="../img/avatar.png" alt="Дмитрий" class="userpic comment__image">
                  <div class="comment__nameblock">
                     <span class="comment__name">Дмитрий Рыков</span>
                     <span class="comment__date small-text">Сегодня в 19:52</span>
                  </div>
                  <div class="comment__rating ratingblock">
                     <svg class="icon ratingblock__icon comment__icon-thumbs-up">
                        <use xlink:href="../svg/sprite.svg#thumbs-up"></use>
                     </svg>
                     <span class="ratingblock__text accent-color">105k</span>
                     <svg class="icon ratingblock__icon comment__icon-thumbs-down">
                        <use xlink:href="../svg/sprite.svg#thumbs-down"></use>
                     </svg>
                  </div>
               </div>
               <div class="comment__body comment__body_sub">
                  <p class="comment__text">
                     <span class="accent-color">Дмитрий,</span> Если больше трех ответов на комментарий, скрывать
                     остальные, показывать только самые пролайканные.
                  </p>
               </div>
            </div>
            <div class="comment comment__sub">
               <div class="comment__info">
                  <img src="../img/avatar.png" alt="Дмитрий" class="userpic comment__image">
                  <div class="comment__nameblock">
                     <span class="comment__name">Дмитрий Рыков</span>
                     <span class="comment__date small-text">Сегодня в 19:52</span>
                  </div>
                  <div class="comment__rating ratingblock">
                     <svg class="icon ratingblock__icon comment__icon-thumbs-up">
                        <use xlink:href="../svg/sprite.svg#thumbs-up"></use>
                     </svg>
                     <span class="ratingblock__text accent-color">105k</span>
                     <svg class="icon ratingblock__icon comment__icon-thumbs-down">
                        <use xlink:href="../svg/sprite.svg#thumbs-down"></use>
                     </svg>
                  </div>
               </div>
               <div class="comment__body comment__body_sub">
                  <p class="comment__text">
                     <span class="accent-color">Дмитрий,</span> Если больше трех ответов на комментарий, скрывать
                     остальные, показывать только самые пролайканные.
                  </p>
               </div>
            </div>
            <div class="comment comment__sub">
               <div class="comment__info">
                  <img src="../img/avatar.png" alt="Дмитрий" class="userpic comment__image">
                  <div class="comment__nameblock">
                     <span class="comment__name">Дмитрий Рыков</span>
                     <span class="comment__date small-text">Сегодня в 19:52</span>
                  </div>
                  <div class="comment__rating ratingblock">
                     <svg class="icon ratingblock__icon comment__icon-thumbs-up">
                        <use xlink:href="../svg/sprite.svg#thumbs-up"></use>
                     </svg>
                     <span class="ratingblock__text accent-color">105k</span>
                     <svg class="icon ratingblock__icon comment__icon-thumbs-down">
                        <use xlink:href="../svg/sprite.svg#thumbs-down"></use>
                     </svg>
                  </div>
               </div>
               <div class="comment__body comment__body_sub">
                  <p class="comment__text">
                     <span class="accent-color">Дмитрий,</span> Если больше трех ответов на комментарий, скрывать
                     остальные, показывать только самые пролайканные.
                  </p>
               </div>
            </div>
         </div>
         <div class="commentbar__line see-all">
            <a href="#" class="accent-color small-text">Смотреть все</a>
         </div>
         <div class="commentbar__add add-comment">
            <img src="../img/avatar.png" alt="" class="add-comment__image userpic">
            <form class="add-comment__form">
               <div class="add-comment__textareablock">
                  <svg class="icon add-comment__icon add-comment__icon-comment">
                     <use xlink:href="../svg/sprite.svg#comment"></use>
                  </svg>
                  <textarea class="add-comment__textarea" placeholder="Написать комментарий"></textarea>
                  <svg class="icon add-comment__icon add-comment__icon-paperclip">
                     <use xlink:href="../svg/sprite.svg#paperclip"></use>
                  </svg>
               </div>
               <submit class="button button_accent add-comment__btn">
                  Отправить
               </submit>
            </form>
         </div>
      </div>

      <!-- Комментарий с ответами -->
      <div class="comments__item commentbar">

         <!-- Главный коммент -->
         <div class="commentbar__main comment">
            <div class="comment__info">
               <img src="../img/avatar.png" alt="Дмитрий" class="userpic comment__image">
               <div class="comment__nameblock">
                  <span class="comment__name">Дмитрий Рыков</span>
                  <span class="comment__date small-text">Сегодня в 19:52</span>
               </div>
               <div class="comment__rating ratingblock">
                  <svg class="icon ratingblock__icon comment__icon-thumbs-up">
                     <use xlink:href="../svg/sprite.svg#thumbs-up"></use>
                  </svg>
                  <span class="ratingblock__text accent-color">105k</span>
                  <svg class="icon ratingblock__icon comment__icon-thumbs-down">
                     <use xlink:href="../svg/sprite.svg#thumbs-down"></use>
                  </svg>
               </div>
            </div>
            <div class="comment__body">
               <p class="comment__text">
                  На странице показывать не более 10 комментариев, остальные скрывать.
                  Дальше рыба, можешь не читать.
               </p>
               <p class="comment__text">
                  Основатель iSpring Юрий Усков рассказал, как создавал компанию и привлекал первых клиентов, о разнице
                  российского и зарубежного рынков, а также о том, почему ему комфортнее вести бизнес в регионе, а не в
                  столице.
               </p>
            </div>
            <div class="comment__replyblock">
               <span class="comment__reply">Ответить</span>
               <span class="comment__reply">2 Ответа</span>
            </div>
         </div>
      </div>
      <!-- Комментарий с ответами -->
      <div class="comments__item commentbar">

         <!-- Главный коммент -->
         <div class="commentbar__main comment">
            <div class="comment__info">
               <img src="../img/avatar.png" alt="Дмитрий" class="userpic comment__image">
               <div class="comment__nameblock">
                  <span class="comment__name">Дмитрий Рыков</span>
                  <span class="comment__date small-text">Сегодня в 19:52</span>
               </div>
               <div class="comment__rating ratingblock">
                  <svg class="icon ratingblock__icon comment__icon-thumbs-up">
                     <use xlink:href="../svg/sprite.svg#thumbs-up"></use>
                  </svg>
                  <span class="ratingblock__text accent-color">105k</span>
                  <svg class="icon ratingblock__icon comment__icon-thumbs-down">
                     <use xlink:href="../svg/sprite.svg#thumbs-down"></use>
                  </svg>
               </div>
            </div>
            <div class="comment__body">
               <p class="comment__text">
                  На странице показывать не более 10 комментариев, остальные скрывать.
                  Дальше рыба, можешь не читать.
               </p>
               <p class="comment__text">
                  Основатель iSpring Юрий Усков рассказал, как создавал компанию и привлекал первых клиентов, о разнице
                  российского и зарубежного рынков, а также о том, почему ему комфортнее вести бизнес в регионе, а не в
                  столице.
               </p>
            </div>
            <div class="comment__replyblock">
               <span class="comment__reply">Ответить</span>
               <span class="comment__reply">2 Ответа</span>
            </div>
         </div>
      </div>
      <!-- Комментарий с ответами -->
      <div class="comments__item commentbar">

         <!-- Главный коммент -->
         <div class="commentbar__main comment">
            <div class="comment__info">
               <img src="../img/avatar.png" alt="Дмитрий" class="userpic comment__image">
               <div class="comment__nameblock">
                  <span class="comment__name">Дмитрий Рыков</span>
                  <span class="comment__date small-text">Сегодня в 19:52</span>
               </div>
               <div class="comment__rating ratingblock">
                  <svg class="icon ratingblock__icon comment__icon-thumbs-up">
                     <use xlink:href="../svg/sprite.svg#thumbs-up"></use>
                  </svg>
                  <span class="ratingblock__text accent-color">105k</span>
                  <svg class="icon ratingblock__icon comment__icon-thumbs-down">
                     <use xlink:href="../svg/sprite.svg#thumbs-down"></use>
                  </svg>
               </div>
            </div>
            <div class="comment__body">
               <p class="comment__text">
                  На странице показывать не более 10 комментариев, остальные скрывать.
                  Дальше рыба, можешь не читать.
               </p>
               <p class="comment__text">
                  Основатель iSpring Юрий Усков рассказал, как создавал компанию и привлекал первых клиентов, о разнице
                  российского и зарубежного рынков, а также о том, почему ему комфортнее вести бизнес в регионе, а не в
                  столице.
               </p>
            </div>
            <div class="comment__replyblock">
               <span class="comment__reply">Ответить</span>
               <span class="comment__reply">2 Ответа</span>
            </div>
         </div>
      </div>
   </div>

   <div class="comments__bottomline add-comment">
      <form class="add-comment__form">
         <div class="add-comment__textareablock">
            <svg class="icon add-comment__icon add-comment__icon-comment">
               <use xlink:href="../svg/sprite.svg#comment"></use>
            </svg>
            <textarea class="add-comment__textarea" placeholder="Написать комментарий"></textarea>
            <svg class="icon add-comment__icon add-comment__icon-paperclip">
               <use xlink:href="../svg/sprite.svg#paperclip"></use>
            </svg>
         </div>
         <submit class="button button_accent add-comment__btn">
            Отправить
         </submit>
      </form>
   </div>

</div>