<div class="info">
   <span href="#" class="info__title"> Краткая информация о компании</span>
   <p class="info__text">ПАО «Северсталь» — российская вертикально интегрированная сталелитейная и
      горнодобывающая компания. Владеет активами в России, а также на Украине, в Латвии, Польше,
      Италии, Либерии. Компания состоит из дивизионов «Северсталь Российская Сталь» и «Северсталь
      Ресурс». Контролирует компанию Алексей Мордашов. </p>
   <div class="info__indicator indicator">
      <div class="indicator__item indicator__item_dividends">
         <span class="indicator__title">Дивиденды</span>
         <div class="indicator__table">
            <div class="indicator__block">
               <span class="indicator__value">33,08 ₽</span>
               <p class="indicator__description">Ближайшие дивиденды</p>
            </div>
            <div class="indicator__block">
               <span class="indicator__value">3,54 %</span>
               <p class="indicator__description">Дивидендная доходность</p>
            </div>
            <div class="indicator__block">
               <span class="indicator__value">2 дек 2019</span>
               <p class="indicator__description">Последний день покупки</p>
            </div>
            <div class="indicator__block">
               <span class="indicator__value">4 дек 2019</span>
               <p class="indicator__description">Дата закрытия реестра</p>
            </div>
         </div>
      </div>
      <div class="indicator__item indicator__item_multipliers">
         <span class="indicator__title">Мультипликаторы </span>
         <div class="indicator__table">
            <div class="indicator__block">
               <span class="indicator__value">P/E – 6,92</span>
               <p class="indicator__description">Капитализация / Годовая прибыль</p>
            </div>
            <div class="indicator__block">
               <span class="indicator__value">P/B – 4,28</span>
               <p class="indicator__description">Капитализация / Баланс. стоимость</p>
            </div>
            <div class="indicator__block">
               <span class="indicator__value">ROE – 62,67 %</span>
               <p class="indicator__description">Рентабельность соб. капитала</p>
            </div>
            <div class="indicator__block">
               <span class="indicator__value">ROA – 29,77 %</span>
               <p class="indicator__description">Рентабельность активов</p>
            </div>
         </div>
      </div>
   </div>
   <div class="info__scale scale">
      <span class="scale__text">Изменение цены за год (min/max)</span>
      <div class="scale__block">
         <span class="scale__price">904,7 ₽</span>
         <div class="scale__scale">
            <div class="scale__fill">
               <span class="scale__number-change">934,7₽</span>
            </div>
         </div>
         <span class="scale__price">1 206,7 ₽</span>
      </div>
   </div>
</div>