<div class=" company-bar ">
   <div class="company-bar__header">
      <img class="company-bar__image" src="../img/img_company/CHMF.png" alt="logo">
      <div class="company-bar__nameblock">
         <span class="company-bar__name">Северсталь</span>
         <span class="company-bar__code">CHMF</span>
      </div>
   </div>
   <div class="company-bar__price">
      <div class="company-bar__price-item">
         <span class="company-bar__price-value">934,8 ₽</span>
         <span class="company-bar__price-text">Цена акции на</span>
         <span class="company-bar__price-text">27.09.2019 | 18:49</span>
      </div>
      <div class="company-bar__price-item">
         <span class="company-bar__price-value company-bar__price-value_red">– 14,18 %</span>
         <span class="company-bar__price-text">Изменение цены </span>
         <span class="company-bar__price-text">за последний год </span>
      </div>
   </div>
   <span class="company-bar__site">Сайт: <a class="company-bar__site-link" href="#">Severstal.com</a></span>
   <div class="company-bar__accouting">
      <span class="company-bar__accouting-text">Отчетность </span>
      <div class="company-bar__buttonblock">
         <div class="company-bar__selectblock company-bar__selectblock_accent">
            <select class="company-bar__btn company-bar__select" data-placeholder="МСФО">
               <option></option>
               <option value="2019">2019</option>
               <option value="2018">2018</option>
               <option value="2017">2017</option>
               <option value="2016">2016</option>
            </select>
         </div>
         <div class="company-bar__selectblock">
            <select class="company-bar__btn company-bar__select" data-placeholder="РСБУ">
               <option></option>
               <option value="2019">2019</option>
               <option value="2018">2018</option>
               <option value="2017">2017</option>
               <option value="2016">2016</option>
            </select>
         </div>
      </div>
   </div>
   <div class="company-bar__buttonblock">
      <button class="button button_accent company-bar__btn">Подписаться</button>
      <button class="button company-bar__btn">Сравнить</button>
   </div>
</div>