<div class="companies">
   <a class="companies__item company" href="company-1.html">
      <div class="company__designation">
         <img class="company__logo" src="../img/img_company/LKOH.png" alt="logo">
         <div class="company__name-block">
            <span class="company__name">Норильский никель</span>
            <span class="company__abbreviation">﻿AFKS</span>
         </div>
      </div>
      <div class="company__stats">
         <div class="company__graph">
            <div class="company__change">
               <span class="company__text company__text_desktop">Изменение за год</span>
               <span class="company__text company__text_mobile">год</span>
               <span class="company__change-number">+ 22,00 %</span>
            </div>
            <img class="company__graph-img" src="../img/graphgreen.png" alt="graph">
         </div>
         <span class="company__price">13,49 ₽</span>
      </div>
   </a>
   <a class="companies__item company" href="company-1.html">
      <div class="company__designation">
         <img class="company__logo" src="../img/img_company/LKOH.png" alt="logo">
         <div class="company__name-block">
            <span class="company__name">Норильский никель</span>
            <span class="company__abbreviation">﻿AFKS</span>
         </div>
      </div>
      <div class="company__stats">
         <div class="company__graph">
            <div class="company__change">
               <span class="company__text company__text_desktop">Изменение за год</span>
               <span class="company__text company__text_mobile">год</span>
               <span class="company__change-number company__change-number_red">- 22,00 %</span>
            </div>
            <img class="company__graph-img" src="../img/graphred.png" alt="graph">
         </div>
         <span class="company__price">13,49 ₽</span>
      </div>
   </a>

</div>