<div class="news">
   <div class="news__header">
      <span class="news__title">Новости компании</span>
      <a href="#" class="news__link">Смотреть все</a>
   </div>
   <div class="news__block">
      <a class="news__block-title" href="#">
         Как выбрать металлургические акции, на которых можно заработать
      </a>
      <div class="news__text">
         <p class="news__paragraph">Металлургический гигант «Северсталь» отчитался о снижении квартальной
            выручки и чистой прибыли. Одно-временно компания сообщила о позитивных ожиданиях на второй
            квартал 2019 года и выплате рекордно больших дивидендов.Выручка металлургической компании за три
            месяца 2019 упала до $2,03</p>
         <span class="news__data">26.09.2019</span>
      </div>

   </div>
   <div class="news__block">
      <span class="news__data news__data_mobile">26.09.2019</span>
      <a class="news__block-title" href="#">Как выбрать металлургические акции, на которых можно
         заработать</a>
      <div class="news__text">
         <p class="news__paragraph">Металлургический гигант «Северсталь» отчитался о снижении квартальной
            выручки и чистой прибыли. Одно-временно компания сообщила о позитивных ожиданиях на второй
            квартал 2019 года и выплате рекордно больших дивидендов.Выручка металлургической компании за три
            месяца 2019 упала до $2,03</p>
         <span class="news__data news__data_desktop">26.09.2019</span>
      </div>

   </div>
   <div class="news__block">
      <span class="news__data news__data_mobile">26.09.2019</span>
      <a class="news__block-title" href="#">Как выбрать металлургические акции, на которых можно
         заработать</a>
      <div class="news__text">
         <p class="news__paragraph">Металлургический гигант «Северсталь» отчитался о снижении квартальной
            выручки и чистой прибыли. Одно-временно компания сообщила о позитивных ожиданиях на второй
            квартал 2019 года и выплате рекордно больших дивидендов.Выручка металлургической компании за три
            месяца 2019 упала до $2,03</p>
         <span class="news__data news__data_desktop">26.09.2019</span>
      </div>

   </div>
   <div class="news__block">
      <span class="news__data news__data_mobile">26.09.2019</span>
      <a class="news__block-title" href="#">Как выбрать металлургические акции, на которых можно
         заработать</a>
      <div class="news__text">
         <p class="news__paragraph">Металлургический гигант «Северсталь» отчитался о снижении квартальной
            выручки и чистой прибыли. Одно-временно компания сообщила о позитивных ожиданиях на второй
            квартал 2019 года и выплате рекордно больших дивидендов.Выручка металлургической компании за три
            месяца 2019 упала до $2,03</p>
         <span class="news__data news__data_desktop">26.09.2019</span>
      </div>

   </div>
   <div class="news__block">
      <span class="news__data news__data_mobile">26.09.2019</span>
      <a class="news__block-title" href="#">Как выбрать металлургические акции, на которых можно
         заработать</a>
      <div class="news__text">
         <p class="news__paragraph">Металлургический гигант «Северсталь» отчитался о снижении квартальной
            выручки и чистой прибыли. Одно-временно компания сообщила о позитивных ожиданиях на второй
            квартал 2019 года и выплате рекордно больших дивидендов.Выручка металлургической компании за три
            месяца 2019 упала до $2,03</p>
         <span class="news__data news__data_desktop">26.09.2019</span>
      </div>
   </div>
   <div class="news__footer">
      <a class="news__link" href="#">Смотреть все</a>
   </div>

</div>