<div class="dialogs">
   <div class="dialogs__userblock contact">
      <img src="../img/avatar.png" alt="Артемий" class="contact__image">
      <div class="contact__info">
         <span class="contact__name">Артем Смирнов</span>
         <span class="contact__status">был(а) в сети 37 минут</span>
      </div>
      <div class="contact__search searchblock">
         <svg class="icon icon-search">
            <use xlink:href="../svg/sprite.svg#search"></use>
         </svg>
         <input type="text" class="search-input" placeholder="Поиск">
      </div>
   </div>
   <div class="dialogs__users">
      <div class="dialogs__users-inner scrollbar-inner">
         <div class="dialogs__user dialogs__user_unread">
            <img src="../img/avatar.png" alt="Артемий" class="dialogs__user-image">
            <div class="dialogs__user-body">
               <span class="dialogs__user-name">Артемий</span>
               <span class="dialogs__user-name">Константинопольский</span>
               <span class="dialogs__user-text_you">Превью текста сообщения. при наведении мышкой</span>
               <span class="dialogs__user-date">18:30</span>
            </div>
         </div>
         <div class="dialogs__user">
            <img src="../img/avatar.png" alt="Артемий" class="dialogs__user-image">
            <div class="dialogs__user-body">
               <span class="dialogs__user-name">Артемий</span>
               <span class="dialogs__user-name">Константинопольский</span>
               <span class="dialogs__user-text">Превью текста сообщения. при наведении мышкой</span>
               <span class="dialogs__user-date">Вчера</span>
            </div>
         </div>
         <div class="dialogs__user">
            <img src="../img/avatar.png" alt="Артемий" class="dialogs__user-image">
            <div class="dialogs__user-body">
               <span class="dialogs__user-name">Артемий</span>
               <span class="dialogs__user-name">Константинопольский</span>
               <span class="dialogs__user-text">Превью текста сообщения. при наведении мышкой</span>
               <span class="dialogs__user-date">Вчера</span>
            </div>
         </div>
         <div class="dialogs__user">
            <img src="../img/avatar.png" alt="Артемий" class="dialogs__user-image">
            <div class="dialogs__user-body">
               <span class="dialogs__user-name">Артемий</span>
               <span class="dialogs__user-name">Константинопольский</span>
               <span class="dialogs__user-text">Превью текста сообщения. при наведении мышкой</span>
               <span class="dialogs__user-date">Вчера</span>
            </div>
         </div>
         <div class="dialogs__user">
            <img src="../img/avatar.png" alt="Артемий" class="dialogs__user-image">
            <div class="dialogs__user-body">
               <span class="dialogs__user-name">Артемий</span>
               <span class="dialogs__user-name">Константинопольский</span>
               <span class="dialogs__user-text">Превью текста сообщения. при наведении мышкой</span>
               <span class="dialogs__user-date">Вчера</span>
            </div>
         </div>
         <div class="dialogs__user">
            <img src="../img/avatar.png" alt="Артемий" class="dialogs__user-image">
            <div class="dialogs__user-body">
               <span class="dialogs__user-name">Артемий</span>
               <span class="dialogs__user-name">Константинопольский</span>
               <span class="dialogs__user-text">Превью текста сообщения. при наведении мышкой</span>
               <span class="dialogs__user-date">Вчера</span>
            </div>
         </div>
         <div class="dialogs__user">
            <img src="../img/avatar.png" alt="Артемий" class="dialogs__user-image">
            <div class="dialogs__user-body">
               <span class="dialogs__user-name">Артемий</span>
               <span class="dialogs__user-name">Константинопольский</span>
               <span class="dialogs__user-text">Превью текста сообщения. при наведении мышкой</span>
               <span class="dialogs__user-date">Вчера</span>
            </div>
         </div>
         <div class="dialogs__user">
            <img src="../img/avatar.png" alt="Артемий" class="dialogs__user-image">
            <div class="dialogs__user-body">
               <span class="dialogs__user-name">Артемий</span>
               <span class="dialogs__user-name">Константинопольский</span>
               <span class="dialogs__user-text">Превью текста сообщения. при наведении мышкой</span>
               <span class="dialogs__user-date">18:30</span>
            </div>
         </div>
         <div class="dialogs__user">
            <img src="../img/avatar.png" alt="Артемий" class="dialogs__user-image">
            <div class="dialogs__user-body">
               <span class="dialogs__user-name">Артемий</span>
               <span class="dialogs__user-name">Константинопольский</span>
               <span class="dialogs__user-text_you">Превью текста сообщения. при наведении мышкой</span>
               <span class="dialogs__user-date">18:30</span>
            </div>
         </div>
         <div class="dialogs__user">
            <img src="../img/avatar.png" alt="Артемий" class="dialogs__user-image">
            <div class="dialogs__user-body">
               <span class="dialogs__user-name">Артемий</span>
               <span class="dialogs__user-name">Константинопольский</span>
               <span class="dialogs__user-text">Превью текста сообщения. при наведении мышкой</span>
               <span class="dialogs__user-date">Вчера</span>
            </div>
         </div>
         <div class="dialogs__user">
            <img src="../img/avatar.png" alt="Артемий" class="dialogs__user-image">
            <div class="dialogs__user-body">
               <span class="dialogs__user-name">Артемий</span>
               <span class="dialogs__user-name">Константинопольский</span>
               <span class="dialogs__user-text">Превью текста сообщения. при наведении мышкой</span>
               <span class="dialogs__user-date">18:30</span>
            </div>
         </div>
         <div class="dialogs__user">
            <img src="../img/avatar.png" alt="Артемий" class="dialogs__user-image">
            <div class="dialogs__user-body">
               <span class="dialogs__user-name">Артемий</span>
               <span class="dialogs__user-name">Константинопольский</span>
               <span class="dialogs__user-text">Превью текста сообщения. при наведении мышкой</span>
               <span class="dialogs__user-date">18:30</span>
            </div>
         </div>
         <div class="dialogs__user">
            <img src="../img/avatar.png" alt="Артемий" class="dialogs__user-image">
            <div class="dialogs__user-body">
               <span class="dialogs__user-name">Артемий</span>
               <span class="dialogs__user-name">Константинопольский</span>
               <span class="dialogs__user-text">Превью текста сообщения. при наведении мышкой</span>
               <span class="dialogs__user-date">18:30</span>
            </div>
         </div>
         <div class="dialogs__user">
            <img src="../img/avatar.png" alt="Артемий" class="dialogs__user-image">
            <div class="dialogs__user-body">
               <span class="dialogs__user-name">Артемий</span>
               <span class="dialogs__user-name">Константинопольский</span>
               <span class="dialogs__user-text">Превью текста сообщения. при наведении мышкой</span>
               <span class="dialogs__user-date">18:30</span>
            </div>
         </div>
         <div class="dialogs__user">
            <img src="../img/avatar.png" alt="Артемий" class="dialogs__user-image">
            <div class="dialogs__user-body">
               <span class="dialogs__user-name">Артемий</span>
               <span class="dialogs__user-name">Константинопольский</span>
               <span class="dialogs__user-text_you">Превью текста сообщения. при наведении мышкой</span>
               <span class="dialogs__user-date">18:30</span>
            </div>
         </div>
         <div class="dialogs__user">
            <img src="../img/avatar.png" alt="Артемий" class="dialogs__user-image">
            <div class="dialogs__user-body">
               <span class="dialogs__user-name">Артемий</span>
               <span class="dialogs__user-name">Константинопольский</span>
               <span class="dialogs__user-text">Превью текста сообщения. при наведении мышкой</span>
               <span class="dialogs__user-date">18:30</span>
            </div>
         </div>
         <div class="dialogs__user">
            <img src="../img/avatar.png" alt="Артемий" class="dialogs__user-image">
            <div class="dialogs__user-body">
               <span class="dialogs__user-name">Иван</span>
               <span class="dialogs__user-name">Константинопольский</span>
               <span class="dialogs__user-text">Превью текста сообщения. при наведении мышкой</span>
               <span class="dialogs__user-date">18:30</span>
            </div>
         </div>
      </div>
   </div>

   <div class="dialogs__body">
      <div class="dialogs__messages scrollbar-inner">
         <div class="dialogs__message messageblock">
            <img class="messageblock__image" src="../img/avatar.png" alt="Ксения">
            <div class="messageblock__content">
               <div class="messageblock__info">
                  <span class="messageblock__author">Ксения Симениазова</span>
                  <span class="messageblock__date">24.09</span>
               </div>
               <p class="messageblock__text">
                  Здравствуйте, отличный ресурс, продолжайте в том же духе и результат обязательно будет
               </p>
            </div>
         </div>
         <div class="dialogs__message messageblock">
            <img class="messageblock__image" src="../img/avatar.png" alt="Дмитрий">
            <div class="messageblock__content">
               <div class="messageblock__info">
                  <span class="messageblock__author">Дмитрий Рыков</span>
                  <span class="messageblock__date">Сегодня в 21:12</span>
               </div>
               <p class="messageblock__text">
                  Здравствуйте. Пост стоит 567 р. Можем еще предложить разместить вам закрепленную тему в Обсуждениях, 1500 р за месяц
                  размещения.
               </p>
            </div>
         </div>
         <div class="dialogs__message messageblock">
            <img class="messageblock__image" src="../img/avatar.png" alt="Дмитрий">
            <div class="messageblock__content">
               <div class="messageblock__info">
                  <span class="messageblock__author">Дмитрий Рыков</span>
                  <span class="messageblock__date">Сегодня в 21:12</span>
               </div>
               <p class="messageblock__text">
                  Здравствуйте. Пост стоит 567 р. Можем еще предложить разместить вам закрепленную тему в Обсуждениях, 1500 р за месяц
                  размещения.
               </p>
            </div>
         </div>
         <div class="dialogs__message messageblock">
            <img class="messageblock__image" src="../img/avatar.png" alt="Дмитрий">
            <div class="messageblock__content">
               <div class="messageblock__info">
                  <span class="messageblock__author">Дмитрий Рыков</span>
                  <span class="messageblock__date">Сегодня в 21:12</span>
               </div>
               <p class="messageblock__text">
                  Здравствуйте. Пост стоит 567 р. Можем еще предложить разместить вам закрепленную тему в Обсуждениях, 1500 р за месяц
                  размещения.
               </p>
            </div>
         </div>
         <div class="dialogs__message messageblock">
            <img class="messageblock__image" src="../img/avatar.png" alt="Дмитрий">
            <div class="messageblock__content">
               <div class="messageblock__info">
                  <span class="messageblock__author">Дмитрий Рыков</span>
                  <span class="messageblock__date">Сегодня в 21:12</span>
               </div>
               <p class="messageblock__text">
                  Здравствуйте. Пост стоит 567 р. Можем еще предложить разместить вам закрепленную тему в Обсуждениях, 1500 р за месяц
                  размещения.
               </p>
            </div>
         </div>
         <div class="dialogs__message messageblock">
            <img class="messageblock__image" src="../img/avatar.png" alt="Дмитрий">
            <div class="messageblock__content">
               <div class="messageblock__info">
                  <span class="messageblock__author">Дмитрий Рыков</span>
                  <span class="messageblock__date">Сегодня в 21:12</span>
               </div>
               <p class="messageblock__text">
                  Здравствуйте. Пост стоит 567 р. Можем еще предложить разместить вам закрепленную тему в Обсуждениях, 1500 р за месяц
                  размещения.
               </p>
            </div>
         </div>
         <div class="dialogs__message messageblock">
            <img class="messageblock__image" src="../img/avatar.png" alt="Дмитрий">
            <div class="messageblock__content">
               <div class="messageblock__info">
                  <span class="messageblock__author">Дмитрий Рыков</span>
                  <span class="messageblock__date">Сегодня в 21:12</span>
               </div>
               <p class="messageblock__text">
                  Здравствуйте. Пост стоит 567 р. Можем еще предложить разместить вам закрепленную тему в Обсуждениях, 1500 р за месяц
                  размещения.
               </p>
            </div>
         </div>
         <div class="dialogs__message messageblock">
            <img class="messageblock__image" src="../img/avatar.png" alt="Дмитрий">
            <div class="messageblock__content">
               <div class="messageblock__info">
                  <span class="messageblock__author">Дмитрий Рыков</span>
                  <span class="messageblock__date">Сегодня в 21:12</span>
               </div>
               <p class="messageblock__text">
                  Здравствуйте. Пост стоит 567 р. Можем еще предложить разместить вам закрепленную тему в Обсуждениях, 1500 р за месяц
                  размещения.
               </p>
            </div>
         </div>
         <div class="dialogs__message messageblock">
            <img class="messageblock__image" src="../img/avatar.png" alt="Дмитрий">
            <div class="messageblock__content">
               <div class="messageblock__info">
                  <span class="messageblock__author">Дмитрий Рыков</span>
                  <span class="messageblock__date">Сегодня в 21:12</span>
               </div>
               <p class="messageblock__text">
                  Здравствуйте. Пост стоит 567 р. Можем еще предложить разместить вам закрепленную тему в Обсуждениях, 1500 р за месяц
                  размещения.
               </p>
            </div>
         </div>
         <div class="dialogs__message messageblock">
            <img class="messageblock__image" src="../img/avatar.png" alt="Дмитрий">
            <div class="messageblock__content">
               <div class="messageblock__info">
                  <span class="messageblock__author">Дмитрий Рыков</span>
                  <span class="messageblock__date">Сегодня в 21:12</span>
               </div>
               <p class="messageblock__text">
                  Здравствуйте. Пост стоит 567 р. Можем еще предложить разместить вам закрепленную тему в Обсуждениях, 1500 р за месяц
                  размещения.
               </p>
            </div>
         </div>
      </div>
      <div class="dialogs__add-comment add-comment">
         <form class="add-comment__form">
            <div class="add-comment__textareablock">
               <svg class="icon add-comment__icon add-comment__icon-comment">
                  <use xlink:href="../svg/sprite.svg#comment"></use>
               </svg>
               <textarea class="add-comment__textarea" placeholder="Напишите сообщение"></textarea>
               <svg class="icon add-comment__icon add-comment__icon-paperclip">
                  <use xlink:href="../svg/sprite.svg#paperclip"></use>
               </svg>
            </div>
            <submit class="button button_accent add-comment__btn">
               Отправить
            </submit>
         </form>
      </div>
   </div>
</div>