<div class="post-stats">
   <div class="post-stats__rating ratingblock ratingblock_big">
      <svg class="icon ratingblock__icon ratingblock__icon_big post-stats__icon-thumbs-up">
         <use xlink:href="../svg/sprite.svg#thumbs-up"></use>
      </svg>
      <span class="ratingblock__text ratingblock__text_big accent-color">105k</span>
      <svg class="icon ratingblock__icon ratingblock__icon_big">
         <use xlink:href="../svg/sprite.svg#thumbs-down"></use>
      </svg>
   </div>
   <div class="post-stats__list">
      <div class="post-stats__item">
         <svg class="icon post-stats__icon">
            <use xlink:href="../svg/sprite.svg#comment"></use>
         </svg>
         <span class="post-stats__text">99+ комментов</span>
      </div>
      <div class="post-stats__item">
         <svg class="icon post-stats__icon">
            <use xlink:href="../svg/sprite.svg#bookmark"></use>
         </svg>
         <span class="post-stats__text">Сохранить</span>
      </div>
      <div class="post-stats__item">
         <svg class="icon post-stats__icon">
            <use xlink:href="../svg/sprite.svg#share-forward-line"></use>
         </svg>
         <span class="post-stats__text">Поделиться</span>
      </div>
   </div>
</div>