<div class="userblock">
   <img src="../img/avatar.png" class="userblock__image" alt="Константин">
   <div class="userblock__nameblock">
      <span class="userblock__name userblock__name_mobile">Константин Константинопольский</span>
      <span class="userblock__name userblock__name_desktop">Константин</span>
      <span class="userblock__name userblock__name_desktop">Константинопольский</span>
      <span class="userblock__login">@konstantinopolsky</span>
   </div>
   <button class="button button_accent userblock__btn">Подписаться</button>
</div>