<div class="userblock">
   <div class="userblock__header">
      <div class="userblock__image">
         <img src="../img/avatar.png" alt="Константин">
      </div>
      <div class="userblock__nameblock">
         <span class="userblock__name">Константин</span>
         <span class="userblock__name">Константинопольский</span>
         <span class="userblock__login">@konstantinopolsky</span>
      </div>
   </div>
   <button class="button button_accent userblock__btn">Подписаться</button>
</div>