<div class="posts__item post">
   <div class="post__header">
      <a href="#" class="post__userpic post__userpic_mobile userpic">
         <img src="../img/procentos-avatar.png" alt="Ксения">
      </a>
      <a href="#" class="post__author">
         Администрация Procentos
      </a>
   </div>
   <a href="#">
      <p class="post__title">
         Здраствуйте!
      </p>
      <p class="post__title">
         Рады вас приветствовать в своем сообществе
      </p>
      <img src="../img/welcome.png" alt="Добро пожаловать" class="post__image post__image_welcome">
      <p class="post__text">Тут нужно прописать текст объяснение концепции и призыв к написанию первой статьи, когда
         человек пишет первую статью,
         это сообщение пропадает и тут появляются его записи.
      </p>
      <p class="post__text">
         1
      </p>
      <p class="post__text">
         2
      </p>
      <p class="post__text">
         3
      </p>
      <p class="post__text">
         4
      </p>
      <p class="post__text">
         5
      </p>
      <p class="post__text">
         6
      </p>
      <p class="post__text">
         7
      </p>
      <p class="post__text">
         8
      </p>
   </a>
   <button class="button button_accent post__btn">Написать первую запись</button>
   <a href="#">
      <img src="../img/procentos-avatar.png" alt="Ксения" class="post__userpic post__userpic_desktop userpic">
   </a>
</div>