<a href="#" class="portfolio">
   <h3 class="portfolio__title">
      Ваш портфель
   </h3>
   <img src="../img/graphic.png" alt="graph" class="portfolio__image">
   <div class="portfolio__timeline timeline">
      <div class="timeline__month">апр</div>
      <div class="timeline__month">июнь</div>
      <div class="timeline__month">июль</div>
      <div class="timeline__month">сент</div>
   </div>
   <div class="portfolio__info">
      <div class="portfolio__current">
         <span class="portfolio__money">123 690,8 ₽</span>
         <span class="portfolio__lighttext">Капитал в акциях</span>
         <span class="portfolio__lighttext">сегодня | 18:49</span>
      </div>
      <div class="portfolio__all">
         <span class="portfolio__percent">+ 6,02 %</span>
         <span class="portfolio__lighttext">Доходность</span>
         <span class="portfolio__lighttext">за все время</span>
      </div>
   </div>
</a>