<head>
   <meta charset="UTF-8">
   <title>Procentos</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <!-- Chrome, Firefox OS and Opera -->
   <meta name="theme-color" content="#377d2a">
   <!-- Windows Mobile -->
   <meta name="msapplication-navbutton-color" content="#377d2a">
   <!-- iOS Safari -->
   <meta name="apple-mobile-web-app-status-bar-style" content="#377d2a">
   <link rel="shortcut icon" href="../img/favicon.png">
   <link rel="stylesheet" href="../css/style.css">

</head>