<div class="overlay-template"></div>

<div class="modal modal-login">
   <div class="modal__logo">
      <img src="../img/procentos-mono.png" alt="Procentos" class="modal__image">
   </div>
   <div class="modal__content">
      <h3 class="modal__title">Вход</h3>
      <div class="modal__social-list">
         <div class="modal__social-item">
            <svg class="icon modal__social-icon">
               <use xlink:href="../svg/sprite.svg#vk"></use>
            </svg>
            <button class="button modal__social-button modal__social-button_vk">Войти через ВКонтакте</button>
         </div>
         <div class="modal__social-item">
            <svg class="icon modal__social-icon">
               <use xlink:href="../svg/sprite.svg#facebook"></use>
            </svg>
            <button class="button modal__social-button modal__social-button_fb">Войти через Facebook</button>
         </div>
         <div class="modal__social-item">
            <svg class="icon modal__social-icon">
               <use xlink:href="../svg/sprite.svg#twitter-alt"></use>
            </svg>
            <button class="button modal__social-button modal__social-button_tw">Войти через Twitter</button>
         </div>
         <div class="modal__social-item">
            <svg class="icon modal__social-icon">
               <use xlink:href="../svg/sprite-original.svg#yandex-logo"></use>
            </svg>
            <button class="button modal__social-button modal__social-button_yandex">Войти через Яндекс</button>
         </div>
         <div class="modal__social-item">
            <svg class="icon modal__social-icon">
               <use xlink:href="../svg/sprite-original.svg#google-logo"></use>
            </svg>
            <button class="button modal__social-button modal__social-button_google">Войти через Google</button>
         </div>
      </div>
      <p class="modal__agreement">
         Авторизуясь, вы соглашаетесь с <a href="#" class="modal__strong">правилами пользования сайтом</a> и
         даете согласие на <a href="#" class="modal__strong">обработку персональных данных.</a> 
      </p>
   </div>
</div>